		
		body {
			background-image: url("background1.jpg");
			background-attachment: fixed;
			background-size: cover;		
		}
		.flex-container {
			display: flex;
			flex-direction: column;
		}
		.bottom{
			width: 100%;
			height: auto;
			background-color: #333333;
			adding: 0px;
		}
		.bottom-text{
			margin-top: 15px;
			margin-bottom: 15px;
		}