		
		
		body {
			background-image: url("background2.jpg");
			background-attachment: fixed;
			background-size: cover;		
		}
		.w3-row {
			margin: 40px;
		}
		.blocks{
			display: flex;
			justify-content: space-between;
		}
		.w3-container.hat {
			margin: 0px;
			margin-top:0px;
			padding: 0px;
			padding-bottom: 10px;
			width : 100%;
			height : auto;
			position : fixed;
			text-align: center;
		}
		.block{
			width: 100%;
			text-align: center;
		}
		.w3-text-white{
			margin: 0px;
		}
		.bottom{
			width: 100%;
			height: 100px;
			background-color: #333333;
			adding: 0px;
		}
		img:hover{
			width: 270px;
			transition: width 2s;
		}
		
		